//Color variables
$color-primary: #33F5CB;   //green
$color-link: #05eaff;      //lightblue
$color-text: #616161;      //grey
$color-text-lighter: lighten($color-text, 25%);
$color-hover: white;






//Font variables
$font-stack-primary: "Titillium Web", sans-serif ;
$font-stack-secondary: "IBM Plex Mono", monospace;
$font-blockquote: "";


//Breakpoint variables
